.App {
  text-align: center;
  background-color: black;
  color: #f8f9ed;
  font-family: "Phosphate", sans-serif;
}

.header {
  color: #f5ff77;
}

.title {
  padding-top: 75px;
  padding-bottom: 107px;
  font-size: 60px;
  font-family: "Phosphate", sans-serif;
  background-color: #000526;
}

.gameOver {
  padding-top: 75px;
  padding-bottom: 107px;
  background-color: #000526;
}

.gameOver .header {
  padding-top: 79px;
  padding-bottom: 77px;
  font-size: 60px;
}

.gameOver .center {
  padding-top: 50px;
  padding-bottom: 50px;
}

.scoreList {
  list-style-type: none;
}

ol {
  padding-left: 40px;
  padding-right: 40px;
}
